{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Entry GPS Coordinates plugin for Craft CMS 3.x
 *
 * EntryCoordinates Field Input
 *
 * @author    NTH media
 * @copyright Copyright (c) 2019 NTH media
 * @link      https://nthmedia.nl
 * @package   EntryGpsCoordinates
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}
{% set suffix = random() %}

{{ forms.textField({
    id: name,
    class: 'location-coords-' ~ suffix,
    name: name ~ '[coordinates]',
    value: value.coordinates
}) }}

{{ forms.text({
    id: 'location-search-' ~ suffix,
    class: 'location-search-' ~ suffix,
    name: name ~ '[searchQuery]',
    value: value.searchQuery,
    placeholder: 'Search Address'
}) }}

<style>
    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    .fields-map {
        width: 100%;
        height: 400px;
    }
</style>


<div class="fields-map fields-map-{{ suffix }}"></div>
<input onclick="deleteMarker();" type="button" value="Delete Marker" class="btn">

{% js %}
    EntryCoordinates.addField('{{ name }}', { suffix: '{{ suffix }}', originalLocation: '{{ value.coordinates }}', apiKey: '{{ googleApiKey }}'} );
{% endjs %}

